html, body, a, center, div, h1, h2, h3, h4, h5, h6, img, p, span, strong, ul, li, ol {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    font-family: Lato;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 36pt;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: white;
}

header {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    margin: 0;
    background-color: white;
    background-image: url(./img/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    z-index: 9999;
}

#menu {
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(#bdb76b, #bdb76b, 50%, #d0cc97, 96%, #bdb76b);
}

#menu > ul li {
    list-style: none;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

#menu > ul li {
    position: relative;
}

#menu > ul li a:link, a:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    height: 30px;
    padding: 10px 30px;
}

#menu > ul li a:hover {
    background: linear-gradient(#979255, #979255, 50%, #c3be79, 96%, #979255);
}

.separator {
    border-left: 2px solid orangered;
    height: 18px;
}

div.headline {
    position: relative;
    float: right;
    text-align: right;
    margin: 15% 10% 0 0;
}

main {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #fbfbfb;
    z-index: 3;
}

main2 {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

main3 {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #fbfbfb;
}

main4 {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

main5 {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #fbfbfb;
}

main6 {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

div.title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto 0 auto;
}

div.subtitle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0 auto;
}

div.subtitle > h3 > a {
    color: orangered;
    text-decoration: none;
}

#col1 {
    width: 30%;
    display: inline-block;
    text-align: justify;
    line-height: 1.5em;
    margin: 0 auto;
    padding-right: 15px;
}
#col1 > img {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

#col2 {
    width: 30%;
    display: inline-block;
    text-align: justify;
    line-height: 1.5em;
    margin: 0 auto;
    padding-left: 15px;
}

#col2 > img {
    float: left;
    align-items: baseline;
    margin-right: 20px;
    margin-top: 5px;
}

main4 > #col1 h3, 
main4 > #col2 h3 {
    margin: 0 0 20px 0;
}

main4 > #col1 h4, 
main4 > #col2 h4 {
    text-align: justify;
    line-height: 1.5em;
    font-weight: 400;
    background-image: url(./img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: left 55%;
    margin-left: 34px;
    padding-left: 20px;
}

main4 > #col1 h4 strong,
main4 > #col2 h4 strong {
    margin-left: 10px;
}

main5 > #col1 h3, 
main5 > #col2 h3 {
    margin: 0 0 20px 0;
}

main6 > #col1 {
    border-right: 2px dashed orangered;
    height: 175px;
}

main6 > #col2 {
    margin: 0 0 75px 0;
}

main6 h3 {
    text-align: center;
    margin: 0 0 10px 0;
}

main6 h4 {
    text-align: center;
    margin: 0 0 30px 0;
}

main6 img {
    vertical-align: middle;
    padding: 0 20px 0 0;
}

div.bottomline {
    border-bottom: 1px solid orangered;
    margin: 75px 0 0 0;
}

div.topline {
    border-top: 1px solid orangered;
    margin: 0;
}

div.shortline {
    border-bottom: 2px solid orangered;
    margin: 30px auto;
    width: 10%;
}

details.white {
    display: inline-block;
    border: 2px solid #000;
    width: 63%;
    height: 60px;
    background-color: white;
    text-align: left;
    cursor: pointer;
    margin: 14px 0 20px 0;
    transition: height 1s ease-in-out;
    overflow: hidden;
}

details.gray {
    display: inline-block;
    border: 2px solid #000;
    width: 63%;
    height: 60px;
    background-color: #fbfbfb;
    text-align: left;
    cursor: pointer;
    margin: 14px 0 20px 0;
    transition: height 1s ease-in-out;
    overflow: hidden;
}

details[open] {
    height: 240px;
    cursor: default;
}

details > h4 {
    text-align: justify;
    line-height: 1.5em;
    font-weight: 700;
    background-image: url(./img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 14px;
    padding-left: 20px;
}

details > h6 {
    text-align: justify;
    line-height: 1.5em;
    font-weight: 400;
    background-image: url(./img/circle.png);
    background-repeat: no-repeat;
    background-position: left 55%;
    margin-left: 34px;
    padding-left: 20px;
}

summary {
    list-style: none;
}

summary::after {
    margin-right: 14px;
    margin-top: -45px;
    display: inline-block;
    content: url(./img/show_hide_arrow.png);
    float: right;
    transition: 1s;
    cursor: pointer;
}

details[open] > summary::after {
    transform: rotate(60deg);
}

summary > h3 {
    padding: 15px 0 15px 14px;
}

footer {
    width: 100%;
    height: 8vh;
    margin: 0;
    background: linear-gradient(#bdb76b, #d0cc97, 50%, #bdb76b, 96%, #bdb76b);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

div.reserved {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
}

div.reserved > img {
    padding: 0 50px 0 0;
}
