html, body, a, center, div, h1, h2, h3, h4, h5, h6, img, p, span, strong, ul, li, ol {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    font-family: Lato;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}

strong {
    margin-left: 10px;
}

body {
    background-color: white;
}

header {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    margin: 0;
    background-color: white;
    background-image: url(./img/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
}

.mobile_menu {
    display: none;
}

.menu {
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(#bdb76b, #bdb76b, 50%, #d0cc97, 96%, #bdb76b);
    z-index: 99999;
}

.menu > ul li {
    list-style: none;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.menu > ul li a:link, a:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    height: 30px;
    padding: 10px 30px;
}

.menu > ul li a:hover {
    background: linear-gradient(#979255, #979255, 50%, #c3be79, 96%, #979255);
}

.separator {
    border-left: 2px solid orangered;
    height: 18px;
}

.headline {
    float: right;
    text-align: right;
    margin: 15% 10% 0 0;
}

main {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.background_gray {
    background-color: #f4f4f4;
}

.background_white {
    background-color: #ffffff;
}

.title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto 0 auto;
}

.subtitle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0 auto;
}

.subtitle h3 a {
    color: orangered;
    text-decoration: none;
}

.column {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 30%);
    column-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    line-height: 1.5em;
}

.column img {
    float: left;
    margin: 5px 20px 0 0;
}

.col-1 {
    grid-column: 1;
    grid-row: 1;
    text-align: justify
}

.col-2 {
    grid-column: 2;
    grid-row: 1;
    text-align: justify;
}

.col-1 h3,
.col-2 h3,
.col-1 h4,
.col-2 h4 {
    margin: 0 0 20px 0;
}

.margin_bottom {
    margin-bottom: 75px;
}

.bottomline {
    border-bottom: 1px solid orangered;
    margin: 75px 0 0 0;
}

.topline {
    border-top: 1px solid orangered;
    margin: 0;
}

.shortline {
    border-bottom: 2px solid orangered;
    margin: 30px auto;
    width: 10%;
}

details {
    display: inline-block;
    border: 2px solid #000;
    border-bottom: none;
    width: 63%;
    min-height: 40px;
    text-align: left;
    cursor: pointer;
}

.content {
    display: inline-block;
    border: 2px solid #000;
    border-top: none;
    width: 63%;
    max-height: 0;
    padding-bottom: 0;
    text-align: left;
    cursor: default;
    margin: 0;
    transition: padding-bottom 1s ease, max-height .5s ease;
    overflow: hidden;
    margin-bottom: 20px;
}

.white,
#white {
    background-color: #fff;
}

.gray,
#gray {
    background-color: #f4f4f4;
}

details summary {
    position: relative;
}

details summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

summary::before {
    content: url(./img/show_hide_arrow.png);
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(0);
    transform-origin: center;
    transition: .5s;
    cursor: pointer;
}

details[open] + div.content {
    max-height: 600px;
    padding-bottom: 14px;
    cursor: default;
    transition: padding-bottom 1s ease, max-height .5s ease;
}

details[open] > summary::before {
    transform: rotate(60deg);
    transition: .5s;
}

summary h3 {
    padding: 15px 75px 15px 14px;
}

.content h4 {
    text-align: justify;
    line-height: 1.5em;
    font-weight: 700;
    background-image: url(./img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: left top 6px;
    margin-left: 14px;
    padding: 0 20px;
}

.white h5,
.content h5 {
    text-align: justify;
    line-height: 1.5em;
    font-weight: 400;
    background-image: url(./img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: left top 6px;
    margin-left: 14px;
    padding: 0 20px;
}

.white h6,
.content h6 {
    text-align: justify;
    line-height: 1.5em;
    font-weight: 400;
    background-image: url(./img/circle.png);
    background-repeat: no-repeat;
    background-position: left 55%;
    margin-left: 34px;
    padding-left: 20px;
}

#contact_box h4 {
    margin: 0 0 10px 0;
}

#contact_box h4 img {
    margin: 0 0 0 20px;
}

#contact_box h3 {
    margin: 0;
}

img.contact_img {
    margin: 0;
}

#contact_box a,
#contact_box a:hover,
#contact_box a:visited {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    height: 8vh;
    margin: 0;
    background: linear-gradient(#bdb76b, #d0cc97, 50%, #bdb76b, 96%, #bdb76b);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.reserved {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
}

.reserved > img {
    padding: 0 50px 0 0;
}

/* smartphone styles */
@media only screen and (orientation: portrait) and (max-width: 1081px) {
    body {
        background-color: white;
    }
    
    h1 {
        font-weight: 700;
        font-size: 36px;
    }
    
    h2 {
        font-size: 28px;
        font-weight: 400;
    }
    
    header {
        position: relative;
        overflow: hidden;
        background-image: url(./img/about_mob.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top 30% center;
    }
    
    .menu {
        display: none;
    }
    
    .headline {
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
        text-align: center;
        margin: 65vh 0 0 0;
    }
    
    :root {
        --transition: .3s;
    }
    
    .mobile_menu {
        right: 0;
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(#bdb76b, #bdb76b, 50%, #d0cc97, 96%, #bdb76b);
        z-index: 9999;
    }
    
    .mobile_menu img {
        margin: 0 0 0 15px;
    }
    
    .mobile_menu_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all var(--transition) ease-in-out;
    }
    
    .mobile_menu_button input {
        display: none;
    }
    
    .mobile_menu_hamburger {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: black;
        border-radius: 5px;
        transition: all var(--transition) ease;
        z-index: 999999;
    }
    
    .mobile_menu_hamburger::before,
    .mobile_menu_hamburger::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: black;
        border-radius: 5px;
        transition: all var(--transition) ease;
    }
    
    .mobile_menu_hamburger::before {
        transform: translateY(-6px);
    }
    
    .mobile_menu_hamburger::after {
        transform: translateY(6px);
    }
    
    .mobile_menu_button input:checked ~ .mobile_menu_hamburger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    
    .mobile_menu_button input:checked ~ .mobile_menu_hamburger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
    
    .mobile_menu_button input:checked ~ .mobile_menu_hamburger {
        transform: translateX(-50px);
        background: transparent;
    }
    
    .mobile_menu_items {
        position: fixed;
        top: -1500px;
        background: linear-gradient(#bdb76b, #bdb76b 2%, #d0cc97 7%, #d0cc97 4%, #bdb76b 20%, #bdb76b);
        height: auto;
        width: auto;
        right: 0;
        transition: all var(--transition) ease-out;
        padding-top: 50px;
    }
    
    .mobile_menu_items li {
        border-bottom: .5px solid orangered;        
        padding: 30% 10px;
        text-align: center;
        transition: all var(--transition) ease-out;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        color: #000;
        list-style: none;
    }
    
    .mobile_menu_items a {
        text-decoration: none;
    }
    
    .mobile_menu_items li:hover {
        opacity: .6;
    }
    
    .mobile_menu_button input:checked ~ .mobile_menu_items {
        top: 0;
    }
    
    .title {
        margin: 40px auto 0 auto;
    }
    
    .column {
        display: inline-block;
        width: 90%;
    }
    
    .column h3,
    #orders_box h4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .col-2 h3 {
        margin-top: 75px;
    }
    
    .column h5 {
        margin-left: 15%;
    }
    
    #contact_box h4 {
        text-align: center;
        margin: 0 0 20px 0;
    }

    #contact_box h5 img {
        margin: 0 auto;
    }

    #contact_box .col-2 h3 {
        margin: 75px 0 0 0;
    }
    
    details {
        width: 90%;
    }
    
    .content {
        width: 90%;
    }
    
    details h3 {
        font-size: 18px;
    }
    
    details h4 {
        font-size: 14px;
    }
    
    details h6 {
        font-size: 12px;
    }
    
    summary::before {
        content: url(./img/show_hide_arrow_min.png);
    }
    
    summary h3 {
        padding: 13px 50px 15px 14px;
    }
}